@font-face {
    font-family: "Trip Sans Medium";
    src: url(/assets/fonts/TripSans-Medium.eot);
    src: url(/assets/fonts/TripSans-Medium.eot?#iefix) format('embedded-opentype'),
        url(/assets/fonts/TripSans-Medium.woff2) format('woff2'),
        url(/assets/fonts/TripSans-Medium.woff) format('woff'),
        url(/assets/fonts/TripSans-Medium.ttf) format('truetype'),
        url(/assets/fonts/TripSans-Medium.svg#TripSans-Medium) format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Trip Sans Regular";
    src: url(/assets/fonts/TripSans-Regular.eot);
    src: url(/assets/fonts/TripSans-Regular.eot?#iefix) format('embedded-opentype'),
        url(/assets/fonts/TripSans-Regular.woff2) format('woff2'),
        url(/assets/fonts/TripSans-Regular.woff) format('woff'),
        url(/assets/fonts/TripSans-Regular.ttf) format('truetype'),
        url(/assets/fonts/TripSans-Regular.svg#TripSans-Regular) format('svg');
    
    font-style: normal;
    font-display: swap;
}

